<form class="{{cssClass}} {{actor.type}} w3-display-container w3-container" autocomplete="off">
  
  <div class="w3-display-left w3-quarter w3-padding-small w3-col-padding w3-text-white" style="height:100%; overflow:auto; position:absolute; background-color: #010105;">
    <div class="w3-col">
      <img src="{{actor.img}}" data-edit="img" class="w3-hover-opacity" title="{{actor.name}}" style="width:100%" >
    </div>

    <div class="w3-col">
      <label><b>Hit Points</b>
      <div class="w3-col">
        <div class="w3-col s5">
          <input name="data.health.value" type="number" value="{{data.health.value}}" class="w3-input w3-border w3-border-dark-grey w3-text-white w3-center" style="width:100%; background-color: #181828" >
        </div>
        <div class="w3-col s2 w3-center">

          <label>/</label>
        </div>
        <div class="w3-col s5">
          <input name="data.health.max" type="number" value="{{data.health.max}}" class="w3-input w3-border w3-border-dark-grey w3-text-white w3-center" style="width:100%; background-color: #181828" >
        </div>
      </div>
    </div> 

    <div class="w3-col">
      <label><b>Size</b></label>
      <input name="data.attributes.size" type="text" value="{{data.attributes.size}}" class="w3-input w3-border w3-border-dark-grey w3-text-white w3-center" style="width:100%; background-color: #181828" >
    </div>  

    <div class="w3-col">
      <label><b>Speed</b></label>
      <input name="data.attributes.speed" type="number" value="{{data.attributes.speed}}" class="w3-input w3-border w3-border-dark-grey w3-text-white w3-center" style="width:100%; background-color: #181828" >
    </div>

    <div class="w3-col">
      <label><b>Type</b></label>
      <select class="w3-col" name="data.type" style="width:100%; background-color: #181828; color: white;">
        {{#select data.type}}
          <option value="0" style="background-color: #282838; color: white;">Stooge</option>
          <option value="1" style="background-color: #282838; color: white;">Goon</option>
          <option value="2" style="background-color: #282838; color: white;">Standard</option>
          <option value="3" style="background-color: #282838; color: white;">Elite</option>
          <option value="4" style="background-color: #282838; color: white;">Champion</option>
        {{/select}}
      </select>
    </div>

    <div class="w3-col-padding">
      <div class="w3-col">
        <button class="w3-button w3-red rollable w3-col" data-roll="1d6">Roll</button>
      </div>
      <div class="w3-col">
        <button class="w3-button w3-red w3-col rollable" data-label="initiative">Initiative</button>
      </div>
    </div>
  </div>

  <div class="w3-display-right w3-threequarter" style="height:100%; overflow:auto; position:absolute;">

    <div class="w3-row-padding">
      <div class="w3-col">
        <label><b>Name</b></label>
        <input name="name" type="text" value="{{actor.name}}" class="w3-input w3-border w3-border-dark-grey w3-xxlarge w3-padding-32" style="width:100%" >
      </div>
    </div>

    <div class="w3-col w3-margin-top w3-container">
      <div class="sheet-tabs tabs w3-border-bottom w3-border-dark-grey w3-row-padding" data-group="primary">
        <div class="w3-col">
          <a class="item w3-button w3-block w3-black w3-small" data-tab="notes">
            NOTES
          </a>
        </div>
        <div class="w3-col">
          <a class="item w3-button w3-block w3-black w3-small" data-tab="tactical">
            TACTICAL
          </a>
        </div>
      </div>
    </div>

    <section class="sheet-body w3-row-padding">

      <div class="tab w3-col" data-group="primary" data-tab="notes">
        <div class="w3-col-padding">
          <div class="w3-col">
            <label><b>Notes</b></label>
            {{editor content=data.notes target="data.notes" rollData=rollData button=true owner=owner editable=editable}}
          </div>
        </div>
      </div>

      <div class="tab w3-col" data-group="primary" data-tab="tactical">
        <div class="w3-col-padding">
          <div class="w3-col">
            <label><b>Feats</b></label>
            <table class="w3-table w3-table-all item-list" style="padding: 0; margin: 0;">
              <tr class="w3-blue">
                <th class="w3-center" style="width:50px">
                  <i class="fas fa-image"></i>
                </th>
                <th> 
                  Feat Name
                </th>
                <th class="w3-center"style="width:50px">
                  <i class="fas fa-tag"></i>
                </th>
                <th class="w3-center" style="width:60px">
                  <a class="item-control item-create" title="Create Class Feat" data-type="classfeat"><i class="fas fa-plus"></i></a>
                </th>
              </tr>

              {{#each classfeats as |item id|}}
              <tr class="item toggle-group" data-item-id="{{item._id}}" draggable="true">
                <td>
                  <div class="item-image w3-center" >
                    <a class="rollable" data-roll-type="item">
                      <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    </a>
                  </div>
                </td>
                <td>
                  <a class="toggle" data-id="{{item._id}}">
                    {{item.name}}
                    <i class="fas fa-chevron-down"></i>
                  </a>
                </td>
                <td>

                </td>
                <td class="w3-center">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              <tr class="toggle-description w3-hide">
                <td colspan="4">
                  {{{item.data.description}}}
                </td>
              </tr>
              {{/each}}
            </table>
          </div>
          
          <div class="w3-col">
            <label><b>Powers</b></label>
            <table class="w3-table w3-table-all item-list" style="padding: 0; margin: 0;">
              <tr class="w3-blue">
                <th class="w3-display-container">
                  <img class="w3-display-middle" src="icons/dice/d20black.svg" style="width: 30px"/>
                </th>
                <th> 
                  Power Name
                </th>
                <th> 
                  Type
                </th>
                <th>
                  Usage
                </th>
                <th class="w3-center">
                  <a class="item-control item-create" title="Create Class Power" data-type="classpower"><i class="fas fa-plus"></i></a>
                </th>
              </tr>

              {{#each classpowers as |item id|}}
              <tr class="item toggle-group" data-item-id="{{item._id}}" draggable="true">
                <td class="w3-display-container">
                  <div class="w3-display-middle" style="width: 26px; height: 26px; border: 1px solid black; border-radius: 13px;"/>
                  <a class="w3-display-middle rollable" data-roll-type="power">
                    {{item.data.level}}
                  </a>
                </td>
                <td>
                  <a class="toggle" data-id="{{item._id}}">
                    {{item.name}}
                    <i class="fas fa-chevron-down"></i>
                  </a>
                </td>
                <td>
                  {{item.data.type}}
                </td>
                <td>
                  <a class="resetusage" data-id="{{item._id}}"> 
                    {{{item.data.usage}}}
                  </a>
                </td>
                <td class="w3-center w3-center">
                  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>                  
                </td>
              </tr>
              <tr class="toggle-description w3-hide">
                <td colspan="7">
                  <div class="w3-half">
                    <div class="w3-tag w3-round-small w3-red w3-center w3-centered" data-id="{{item._id}}">
                      {{item.data.range}}
                    </div>
                  </div>

                  <div class="w3-half">
                    {{#if item.data.damage}}
                      <div class="w3-tag w3-round-small w3-red w3-center" data-id="{{item._id}}">
                        {{item.data.damage}}
                        <i class="fas fa-heart"></i>
                      </div>
                    {{/if}}
                  </div>

                  <div class="w3-col">
                    {{{item.data.description}}}
                  </div>
                </td>
              </tr>
              {{/each}}
            </table>
          </div>
        </div>
      </div>

    </section>
  </div>
</form>